

<div class="landing-card-outer text-white bg-gray-200 flex min-w-[400px] sm:min-w-[300px] flex-1 ">
<div class="flex p-1 items-center gap-xl rounded-lg bg-gray-black w-full flex-col">
	<slot />
</div>

</div>

<style>
.landing-card-outer {
    background: linear-gradient(180deg, #ffffff4f 0, #fff0 100%);
    z-index: 0;
    border-radius: 12px;
    padding: 1.8px;
}
</style>